[Unit]
Description=Gunicorn instance to serve imectf
After=network.target

[Service]
WorkingDirectory=/srv/ctf
ExecStart=/srv/ctf/venv/bin/gunicorn --workers 1 --bind unix:imectf.sock server:app

[Install]
WantedBy=multi-user.target
