<div class="competition-task">
  <div class="ui basic segment task">
    <div class="task-header">
      <h2 class="ui center aligned header">{{ task.name }}</h2>
    </div>
    <div class="task-desc">
      {% autoescape false %}
      {{ task.desc }}
      {% endautoescape %}
    </div>
    <div class="input-flag">
      {% if task.file %}
      <span><strong>{{ lang.competition.file }}:</strong> <a href="{{ url_for('static', filename='files/' + task.file) }}">{{ task.file }}</a></span>
      {% endif %}

      <div class="ui horizontal divider">
        {{ lang.competition.submit }}
      </div>
      <div class="ui fluid action left corner labeled input">
        <input type="text" placeholder="{{ lang.competition.submit_placeholder }}">
        <button class="ui icon basic button">
          <i class="send icon"></i>
        </button>
        <div class="ui left corner label">
          <i class="flag icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>
