<div class="ui basic segment competition-content">
  <div class="competition-content-header">
    <h2 class="ui center aligned header">{{ lang.leaderboard.header }}</h2>
  </div>
  <div class="competition-content-body">
    <table class="ui very basic selectable unstackable fixed table leaderboard">
      <thead>
        <tr>
          <th class="three wide">{{ lang.leaderboard.rank }}</th>
          <th class="ten wide">{{ lang.leaderboard.team }}</th>
          <th class="three wide right aligned">{{ lang.leaderboard.score }}</th>
        </tr>
      </thead>
      <tbody>
        {% for t in scores %}
        <tr {% if team.id == t.id %}class="warning"{% endif %}>
          <td>{{ t.rank }}</td>
          <td class="ten wide">{{ t.name }}</td>
          <td class="right aligned">{{ t.score }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="ui center aligned basic segment">
    <div class="ui center aligned borderless pagination menu">
      {% if offset > 0 -%}
      <a class="item content-load" href="/competition/{{ competition.id }}/leaderboard/{{ offset - 1 }}"><i class="chevron left icon"></i></a>
      {%- else -%}
      <div class="disabled item"><i class="chevron left icon"></i></div>
      {%- endif %}

      <div class="active item">{{ offset + 1 }}</div>

      {% if offset < competition.teams // 10 -%}
      <a class="item content-load" href="/competition/{{ competition.id }}/leaderboard/{{ offset + 1 }}"><i class="chevron right icon"></i></a>
      {%- else -%}
      <div class="disabled item"><i class="chevron right icon"></i></div>
      {%- endif %}
    </div>
    </div>
  </div>
</div>
