<div class="ui basic segment competition-content">
  <div class="competition-content-header">
    <h2 class="ui center aligned header">{{ team.name }}</h2>
  </div>
  <div class="competition-content-body">
    <div class="ui form">
      <div class="ui dividing header">{{ lang.team.settings_header }}</div>
      <div class="field">
        <label>{{ lang.team.secret }}</label>
        <input type="text" value="{{ team.secret }}" readonly="readonly">
      </div>
      <div class="ui dividing header">{{ lang.team.competition_header }}</div>
      <div class="field">
        <label>{{ lang.team.rank }}</label>
        <span>{{ rank }} / {{ competition.teams }}</span>
      </div>
      <div class="field">
        <label class="ui center aligned">{{ lang.team.score }}</label>
        <span>{{ team.score }} / {{ total_score }} {{ lang.competition.pts }}</span>
      </div>
    </div>
  </div>
</div>
