{% extends 'frame.html' %}

{% block scripts %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/daterangepicker.min.css') }}">
<script src="{{ url_for('static', filename='js/moment.js') }}"></script>
<script src="{{ url_for('static', filename='js/daterangepicker.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/general.js') }}"></script>
<script>
$(function() {
  $(".competition-list .ui.accordion").accordion({
    exclusive: false,
    selector: {
      trigger: '.accordion-title',
      title: '.accordion-title',
      content: '.accordion-content'
    }
  });

  function bindElements() {
    $('.task-hint').accordion();
  }

  bindElements();

  window.onpopstate = function(event) {
    $('.competition-content-wrapper').html(event.state);
    bindElements();
  }

  $(document).on('click', '.content-load', function(e) {
    e.preventDefault();
    var url = $(this).attr('href');
    ajaxQuery(url, {}, function(res) {
      window.history.pushState(res, "task", url);
      $('.competition-content-wrapper').html(res);

      bindElements();
    });
  });

  {% if running %}
  function setTime() {
    var d = moment.duration(moment('{{ competition.date_end }}', 'YYYY-MM-DD HH:mm').diff(moment().utc()));
    $('#time').text(
      (d.days() > 0 ? d.days() + ' d ' : '') +
      d.hours() + ' h ' +
      d.minutes() + ' m'
    );
  }

  setTime();
  setInterval(function() {
    setTime();
  }, 1000);
  {% endif %}
});
</script>
{% endblock scripts %}

{% block page %}
<div class="ui main competition">
  <div class="competition-list">
    <div class="competition-list-header">
      <i class="archive icon"></i>
      <span>{{ competition.name }} Explorer</span>
    </div>
    <div class="row">

      <div class="ui list accordion">
        {% if user.admin %}
        <div class="item ui">
          <a class="accordion-title active">
            <i class="spy open icon"></i>
            <div class="content">
              <div class="header">{{ lang.competition.admin }}</div>
            </div>
          </a>

          <div class="list accordion-content active">

            <a class="item task-explorer" href="/competition/{{ competition.id }}/edit">
              <i class="settings icon"></i>

              <div class="content">
                <div class="header">{{ lang.competition.settings }}</div>
              </div>
            </a>

            <a class="item task-explorer" href="/competition/{{ competition.id }}/launch">
              <i class="rocket icon"></i>

              <div class="content">
              <div class="header">{{ lang.competition.deploy }}</div>
              </div>
            </a>

          </div>
        </div>
        {% endif %}

        <div class="item ui">
          <div class="right floated content score">
            <div class="header">3265 / 6000 pts</div>
          </div>

          <a class="accordion-title active">
            <i class="folder open icon"></i>
            <div class="content">
              <div class="header">{{ lang.competition.competition }}</div>
            </div>
          </a>


          <div class="list accordion-content active">

            <a class="item task-explorer content-load" href="/competition/{{ competition.id }}/stats">
              <i class="pie chart icon"></i>

              <div class="content">
                <div class="header">{{ lang.competition.stats }}</div>
              </div>
            </a>

            {% if running -%}
            <div class="item task-explorer">
              <div class="right floated content team-name">
                <div class="header" id="time"></div>
              </div>

              <i class="hourglass full icon"></i>

              <div class="content">
                <div class="header">{{ lang.competition.time }}</div>
              </div>
            </div>
            {%- endif %}

            <a class="item task-explorer content-load" href="/competition/{{ competition.id }}/team">
              <div class="right floated content team-name">
                <div class="header">{{ team.name }}</div>
              </div>

              <i class="users icon"></i>

              <div class="content">
                <div class="header">{{ lang.competition.team }}</div>
              </div>
            </a>

            <a class="item task-explorer content-load">
              <div class="right floated content team-name">
                <div class="header">131th / 1000</div>
              </div>
              <i class="trophy icon"></i>

              <div class="content">
                <div class="header">{{ lang.competition.leaderboard }}</div>
              </div>
            </a>

          </div>
        </div>

        {% for category in categories %}

        <div class="item">
          <a class="accordion-title active">
            <i class="folder open icon"></i>
            <div class="content">
              <div class="header">{{ category.name }}</div>
            </div>
          </a>

          <div class="list accordion-content active">

            {% for task in tasks if task.category == category.id %}

            <a class="item task-explorer content-load" href="/competition/{{ competition.id }}/task/{{ task.id }}">
              <div class="right floated content">
                <div class="header">{{ "%+d" | format(task.score) }}</div>
              </div>

              <i class="file icon"></i>
              <i class="flag icon"></i>

              <div class="content task-name">
                <div class="header">{{ task.name }}</div>
              </div>
            </a>

            {% endfor %}

          </div>
        </div>

        {% endfor %}

      </div>
    </div>
  </div>
  <div class="competition-wrapper">
    <div class="competition-content-wrapper">
      {% include page ignore missing %}
    </div>
    <div class="competition-shell">
      Shell
    </div>
  </div>
</div>
{% endblock page %}
