{% extends 'frame.html' %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/general.js') }}"></script>
<script>
var categories = {};
{% for c in categories %} categories[{{ c.id }}] = "{{ c.name }}"; {% endfor %}
function resetForm(form) {
  form.find('input:text').val('')
  form.find('.category-text').text('{{ lang.tasks.category_placeholder }}')
  form.find('.category-text').addClass('default')
}
</script>
<script>
$(function() {
  $('.task-new').on('click', function() {
    resetForm($('.task-new-modal'));
    $('.task-new-modal')
      .modal({ onApprove: function() { return false; } })
      .modal('show');
  });

  $(document).on('click', '.task-add', function() {
    fetchTaskToForm('/task/' + $(this).closest('tr').data('id'), $('#task-add-form'),
      function() {
        console.log('modal');
        $('.task-add-modal')
          .modal({ onApprove: function() { return false; } })
          .modal('show');
      });
  });

  $(document).on('click', '.task-edit', function() {
    fetchTaskToForm('/task_competition/{{ competition.id }}-' + $(this).closest('tr').data('id'), $('#task-edit-form'),
      function() {
        $('.task-edit-modal')
          .modal({ onApprove: function() { return false; } })
          .modal('show');
      });
  });

  $(document).on('click', '.task-remove', function() {
    fetchTaskToForm('/task/' + $(this).closest('tr').data('id'), $('#task-remove-form'),
      function() {
        $('.task-remove-modal')
          .modal({ onApprove: function() { return false; } })
          .modal('show');
      });
  });

  $('#task-remove-form').submit(function(event) {
    event.preventDefault();

    var id = $(this).find('[name=task-id]').val();

    var data = new FormData();
    data.append('task-id', id);

    var url = $(this).attr('action');

    ajaxQuery(url, data, function(task) {
      var newrow =
        '<tr data-id="' + task['id'] + '"> \
            <td class="three wide">' + task['name'] + '</td> \
            <td class="three wide">' + categories[task['category']] + '</td> \
            <td class="eight wide">' + escapeHtml(task['desc']) + '</td> \
            <td class="two wide center aligned"> \
              <a href="#" class="task-add"><i class="large plus square icon"></i></a> \
            </td> \
          </tr>';

      $('#comp-table-body').find('tr[data-id='+task['id']+']').remove();
      $('#tasks-table-body').append(newrow);
    });

    $('.task-remove-modal').modal('hide');

    return false;
  });

  $('#task-edit-form').submit(function(event) {
    event.preventDefault();

    var id = $(this).find('[name=task-id]').val();
    var score = $(this).find('[name=task-score]').val();

    var data = new FormData();
    data.append('task-id', id);
    data.append('task-score', score);

    var url = $(this).attr('action');

    ajaxQuery(url, data, function(task) {
      var newrow =
        '<tr data-id="' + task['id'] + '"> \
            <td class="one wide">' + task['score'] + '</td> \
            <td class="three wide">' + task['name'] + '</td> \
            <td class="three wide">' + categories[task['category']] + '</td> \
            <td class="eight wide">' + escapeHtml(task['desc']) + '</td> \
            <td class="two wide center aligned"> \
              <a href="#" class="task-edit"><i class="large edit icon"></i></a> \
              <a href="#" class="task-remove"><i class="large minus square icon"></i></a> \
            </td> \
          </tr>';

      $('#comp-table-body').find('tr[data-id='+task['id']+']').replaceWith(newrow);
    });

    $('.task-edit-modal').modal('hide');

    return false;
  });

  $('#task-add-form').submit(function(event) {
    event.preventDefault();

    var id = $(this).find('[name=task-id]').val();
    var score = $(this).find('[name=task-score]').val();

    var data = new FormData();
    data.append('task-id', id);
    data.append('task-score', score);

    var url = $(this).attr('action');

    ajaxQuery(url, data, function(task) {
      console.log(JSON.stringify(task));
      var newrow =
        '<tr data-id="' + task['id'] + '"> \
            <td class="one wide">' + task['score'] + '</td> \
            <td class="three wide">' + task['name'] + '</td> \
            <td class="three wide">' + categories[task['category']] + '</td> \
            <td class="eight wide">' + escapeHtml(task['desc']) + '</td> \
            <td class="two wide center aligned"> \
              <a href="#" class="task-edit"><i class="large edit icon"></i></a> \
              <a href="#" class="task-remove"><i class="large minus square icon"></i></a> \
            </td> \
          </tr>';

      $('#comp-table-body').append(newrow);
      $('#tasks-table-body').find('tr[data-id='+task['id']+']').remove();
    });

    $('.task-add-modal').modal('hide');

    return false;
  });

  $('#task-new-form').submit(function(event) {
    event.preventDefault();

    var data = new FormData($('#task-new-form')[0]);
    var url = $(this).attr('action');

    ajaxQuery(url, data, function(task) {
      var newrow =
        '<tr data-id="' + task['id'] + '"> \
            <td class="three wide">' + task['name'] + '</td> \
            <td class="three wide">' + categories[task['category']] + '</td> \
            <td class="eight wide">' + escapeHtml(task['desc']) + '</td> \
            <td class="two wide center aligned"> \
              <a href="#" class="task-add"><i class="large plus square icon"></i></a> \
            </td> \
          </tr>';

      $('#tasks-table-body').append(newrow);
    });

    $('.task-new-modal').modal('hide');

    return false;
  });
});
</script>
{% endblock scripts %}

{% block page %}
<div class="ui container main">
  <h2 class="ui inverted header">{{ competition.name }}</h2>

  <table class="ui single line selectable inverted fixed sortable unstackable table tasks-table">
    <thead>
      <tr>
        <th class="one wide center aligned">{{ lang.tasks.score }}</i></th>
        <th class="three wide">{{ lang.tasks.name }}</th>
        <th class="three wide">{{ lang.tasks.category }}</th>
        <th class="eight wide">{{ lang.tasks.desc }}</th>
        <th class="two wide center aligned"><i class="settings icon"></i></th>
      </tr>
    </thead>
    <tbody id="comp-table-body">
      {% for task in tasks_comp %}
      <tr data-id="{{ task.id }}">
        <td class="one wide">{{ task.score }}</td>
        <td class="three wide">{{ task.name }}</td>
        <td class="three wide">{{ categories[task.category-1].name }}</td>
        <td class="eight wide">{{ task.desc }}</td>
        <td class="two wide center aligned">
          <a href="#" class="task-edit"><i class="large edit icon"></i></a>
          <a href="#" class="task-remove"><i class="large minus square icon"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h3 class="ui center aligned inverted header">All tasks</h3>

  <table class="ui single line selectable inverted fixed sortable unstackable table tasks-table">
    <thead>
      <tr>
        <th class="three wide">{{ lang.tasks.name }}</th>
        <th class="three wide">{{ lang.tasks.category }}</th>
        <th class="eight wide">{{ lang.tasks.desc }}</th>
        <th class="two wide center aligned"><i class="settings icon"></i></th>
      </tr>
    </thead>
    <tbody id="tasks-table-body">
      {% for task in tasks %}
      <tr data-id="{{ task.id }}">
        <td class="three wide">{{ task.name }}</td>
        <td class="three wide">{{ categories[task.category-1].name }}</td>
        <td class="eight wide">{{ task.desc }}</td>
        <td class="two wide center aligned">
          <a href="#" class="task-add"><i class="large plus square icon"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot class="full-width">
      <tr>
        <th colspan="4">
          <button class="ui right floated small primary right labeled icon button task-new">
            <i class="plus icon"></i>{{ lang.tasks.add }}
          </button>
        </th>
      </tr>
    </tfoot>
  </table>
</div>

<form id="task-remove-form" class="ui modal task-remove-modal" action="/competition/{{ competition.id }}/removetask">
  <div class="header">{{ lang.competition.remove }}</div>

  <div class="content">
    <div class="ui form">
      <input type="hidden" name="task-id">
      <div class="field">
        <label>{{ lang.tasks.name }}</label>
        <input type="text" name="task-name" value="Task name" disabled>
      </div>
      <div class="field">
        <label>{{ lang.tasks.category }}</label>
        <div class="ui fluid search selection dropdown disabled task-category-dropdown">
          <input type="hidden" name="task-category">
          <i class="dropdown icon"></i>
          <div class="default text">{{ lang.tasks.category_placeholder }}</div>
          <div class="menu">
            {% for category in categories %}
            <div class="item" data-value="{{ category.id }}">{{ category.name }}</div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="field">
        <label>{{ lang.tasks.desc }}</label>
        <textarea rows="3" disabled>Task description</textarea>
      </div>

      <div class="field">
        <label>{{ lang.tasks.hint }}</label>
        <textarea rows="2" disabled>Task hint</textarea>
      </div>

      <div class="field">
        <label>{{ lang.tasks.file }}</label>
        <input type="text" name="task-file" value="Task file" disabled>
      </div>

      <div class="field">
        <label>{{ lang.tasks.flag }}</label>
        <input type="text" name="task-flag" value="Task flag" disabled>
      </div>
    </div>
  </div>

  <div class="actions">
    <div class="ui black cancel button">{{ lang.competition.remove_cancel }}</div>
    <button type="submit" class="ui negative right labeled icon button">
      {{ lang.competition.remove_accept }}
      <i class="trash icon"></i>
    </button>
  </div>
</form>

<form id="task-edit-form" class="ui modal task-edit-modal" action="/competition/{{ competition.id }}/edittask">
  <div class="header">{{ lang.competition.edit }}</div>

  <div class="content">
    <div class="ui form">
      <input type="hidden" name="task-id">
      <div class="field">
        <label>{{ lang.tasks.name }}</label>
        <input type="text" name="task-name" disabled>
      </div>
      <div class="field">
        <label>{{ lang.tasks.category }}</label>
        <div class="ui fluid search selection dropdown disabled task-category-dropdown">
          <input type="hidden" name="task-category">
          <i class="dropdown icon"></i>
          <div class="default text"></div>
          <div class="menu">
            {% for category in categories %}
            <div class="item" data-value="{{ category.id }}">{{ category.name }}</div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="field">
        <label>{{ lang.tasks.desc }}</label>
        <textarea rows="3" disabled></textarea>
      </div>

      <div class="field">
        <label>{{ lang.tasks.hint }}</label>
        <textarea rows="2" disabled></textarea>
      </div>

      <div class="field">
        <label>{{ lang.tasks.file }}</label>
        <input type="text" name="task-file" disabled>
      </div>

      <div class="field">
        <label>{{ lang.tasks.flag }}</label>
        <input type="text" name="task-flag" disabled>
      </div>
    </div>
  </div>

  <div class="actions">
    <button class="ui black cancel button">{{ lang.competition.edit_cancel }}</button>
    <div class="ui action left labeled input">
      <div class="ui label">{{ lang.tasks.score }}</div>
      <input name="task-score" type="number" required>
      <button type="submit" class="ui positive button">
        {{ lang.competition.edit_accept }}
      </button>
    </div>
  </div>
</form>

<form id="task-add-form" class="ui modal task-add-modal" action="/competition/{{ competition.id }}/addtask">
  <div class="header">{{ lang.competition.add }}</div>

  <div class="content">
    <div class="ui form">
      <input type="hidden" name="task-id">
      <div class="field">
        <label>{{ lang.tasks.name }}</label>
        <input type="text" name="task-name" disabled>
      </div>
      <div class="field">
        <label>{{ lang.tasks.category }}</label>
        <div class="ui fluid search selection dropdown disabled task-category-dropdown">
          <input type="hidden" name="task-category">
          <i class="dropdown icon"></i>
          <div class="default text"></div>
          <div class="menu">
            {% for category in categories %}
            <div class="item" data-value="{{ category.id }}">{{ category.name }}</div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="field">
        <label>{{ lang.tasks.desc }}</label>
        <textarea rows="3" disabled></textarea>
      </div>

      <div class="field">
        <label>{{ lang.tasks.hint }}</label>
        <textarea rows="2" disabled></textarea>
      </div>

      <div class="field">
        <label>{{ lang.tasks.file }}</label>
        <input type="text" name="task-file" disabled>
      </div>

      <div class="field">
        <label>{{ lang.tasks.flag }}</label>
        <input type="text" name="task-flag" disabled>
      </div>
    </div>
  </div>

  <div class="actions">
    <div class="ui black cancel button">{{ lang.competition.add_cancel }}</div>
    <div class="ui action left labeled input">
      <div class="ui label">{{ lang.tasks.score }}</div>
      <input name="task-score" type="number" placeholder="50" required>
      <button type="submit" class="ui positive button">
        {{ lang.competition.add_accept }}
      </button>
    </div>
  </div>
</form>

<form id="task-new-form" class="ui modal task-new-modal" action="/task/add">
  <div class="header">{{ lang.tasks.new }}</div>
  <div class="content">
    <div class="ui form">

      <div class="field">
        <label>{{ lang.tasks.name }}</label>
        <input type="text" name="task-name" placeholder="{{ lang.tasks.name_placeholder }}"required>
      </div>
      <div class="field">
        <label>{{ lang.tasks.category }}</label>
        <div class="ui fluid search selection dropdown task-category-dropdown">
          <input type="hidden" name="task-category" required>
          <i class="dropdown icon"></i>
          <div class="default text category-text">{{ lang.tasks.title }}</div>
          <div class="menu">
            {% for category in categories %}
            <div class="item" data-value="{{ category.id }}">{{ category.name }}</div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="field">
        <label>{{ lang.tasks.desc }}</label>
        <textarea rows="3" name="task-desc" placeholder="{{ lang.tasks.desc_placeholder }}"></textarea>
      </div>

      <div class="field">
        <label>{{ lang.tasks.hint }}</label>
        <textarea rows="2" name="task-hint" placeholder="{{ lang.tasks.hint_placeholder }}"></textarea>
      </div>

      <div class="field">
        <label>{{ lang.tasks.file }}</label>
        <div class="ui left action input">
          <label class="ui labeled icon button btn-file">
            <i class="attachment upload icon"></i>
            {{ lang.tasks.file_placeholder }}
            <input type="file" name="task-file" style="display: none">
          </label>
          <input type="text" class="_attachmentName" disabled>
        </div>
      </div>

      <div class="field">
        <label>{{ lang.tasks.flag }}</label>
        <input type="text" name="task-flag" placeholder="{{ lang.tasks.flag_placeholder }}" required>
      </div>

    </div>
  </div>

  <div class="actions">
    <div class="ui black cancel button">{{ lang.tasks.new_cancel }}</div>
    <button type="submit" class="ui positive right labeled icon ok button">
      {{ lang.tasks.new_accept }}
      <i class="checkmark icon"></i>
    </button>
  </div>
</form>
{% endblock page %}
