<div class="ui basic segment competition-content">
  <div class="competition-content-header">
    <h2 class="ui center aligned header">{{ task.name }}</h2>
  </div>
  <div class="competition-content-body">
    {% autoescape false %}
    {{ task.desc }}
    {% endautoescape %}
  </div>
  <div class="input-flag">
    {% if task.hint %}
    <div class="ui fluid accordion task-hint">
      <div class="title">
        Hint
        <i class="dropdown icon"></i>
      </div>
      <div class="content">
        {{ task.hint }}
      </div>
    </div>
    {% endif %}
    {% if task.file %}
    <span><strong>{{ lang.competition.file }}:</strong> <a href="{{ url_for('static', filename='files/' + task.file) }}">{{ task.file }}</a></span>
    {% endif %}

    <div class="ui horizontal divider">
      {{ lang.competition.submit }}
    </div>
    <form id="submit-form" class="ui fluid action left corner labeled input" action="/competition/{{ competition.id }}/task/{{ task.id }}/submit">
      <input {% if done %}class="accepted"{% endif %} name="flag" type="text" placeholder="{{ lang.competition.submit_placeholder }}">
      <button type="submit" class="ui icon basic button">
        <i class="send icon"></i>
      </button>
      <div class="ui left corner label">
        <i class="flag icon"></i>
      </div>
    </form>
  </div>
</div>
<script>
$(function() {
  $('#submit-form').submit(function(event) {
    event.preventDefault();

    var data = new FormData($(this)[0]);
    var url = $(this).attr('action');

    ajaxQuery(url, data,
      function(res) {
        if (res['success']) {
          $('input[name=flag]').removeClass('wrong');
          $('input[name=flag]').addClass('accepted');
          menuSolveTask({{ task.id }});
          menuUpdateScore(res['score'], res['total_score']);
          menuUpdateRank(res['rank'], res['total_teams']);
        } else {
          $('input[name=flag]').removeClass('accepted');
          $('input[name=flag]').addClass('wrong');
        }
      },
      function() {
      }
    );

    return false;
  });
});
</script>
