{% extends 'frame.html' %}

{% block page %}
<div class="ui container main">
  <h1 class="ui inverted header">{{ lang.competitions.new }} </h1>
  <form class="ui form segment" method="post">
    <div class="field">
      <label>{{ lang.competitions.name }}</label>
      <input name="name" type="text" class="ui input" required>
    </div>

    <div class="field">
      <label>{{ lang.competitions.description }}</label>
      <textarea name="desc" rows="3" class="ui input"></textarea>
    </div>

    <button type="submit" class="ui primary button">{{ lang.competitions.new }}</button>
  </form>
</div>
{% endblock page %}
