<div class="landing-page container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Categoria</th>
        <th>Nome</th>
        <th>Score</th>
        <!--<th>Término</th>-->
        {% if user["isAdmin"] == true %}
        <th>
          <a href="/competition/{{ comp_id }}/edit">Adicionar Tasks</a>
        </th>
        {% else %}
        <th>{{ name_team }}</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for task in tasks  %}
      <tr>
        <td>{{ task.category }}</td>
        <td>{{ task.name }}</td>
        <td>{{ task.score }}</td>
        <!--<td>{{ competition.date_end }}</td>-->
        <td>
          <!--<a href="/competition/{{ competition.id }}">Acessar</a>
            <form action="/delete/{{ competition.id }}" method="POST">
            <input type="submit" value="Deletar"/>
            </form>-->
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
