{% extends 'frame.html' %}

{% block page %}
<div class="ui container main">
  <h1 class="ui inverted header">{{ lang.addcompetition.add_title }} </h1>
  <form class="ui form segment" method="post">
    <div class="field">
      <label>{{ lang.addcompetition.name_label }}</label>
      <input name="name" type="text" required="required" class="form-control" />
    </div>

    <div class="field">
      <label>{{ lang.addcompetition.description_label }}</label>
      <textarea name="desc" rows="3"></textarea>
    </div>

    <input type="submit" class="ui primary button" />
  </form>
</div>
{% endblock page %}
