{% extends 'frame.html' %}

{% block page %}
<div class="ui container main">
  <h2 class="ui left floated inverted header">Competitions</h2>
  <table class="ui single line selectable inverted fixed sortable unstackable table tasks-table">
    <thead>
      <tr>
        <th class="one wide center aligned">#</th>
        <th>Nome</th>
        <th>Data</th>
        <!--<th>Término</th>-->
        <th class="two wide center aligned"></th>
      </tr>
    </thead>
    <tbody>
      {% for competition in competitions  %}
      <tr>
        <td class="one wide center aligned">{{ competition.id }}</td>
        <td>{{ competition.desc }}</td>
        <td>{{ competition.date_start }}</td>
        <!--<td>{{ competition.date_end }}</td>-->
        <td class="two wide center aligned">
          <a href="/competition/{{ competition.id }}">
            <button class="ui button">Acessar</button>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot class="full-width">
      <tr>
        <th colspan="4">
          <div class="ui right floated">
            <button class="ui right floated small primary labeled icon button">
              <i class="plus icon"></i>New competition
            </button>
        </th>
    </tfoot>
  </table>
</div>
{% endblock page %}
