<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ lang.frame.title }} {% block title %}{% endblock title %}</title>
    <!--<meta name="viewport" content="width=device-width" />-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/semantic.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/semantic.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tablesort.js') }}"></script>

    {% block scripts %}{% endblock scripts %}
  </head>
  <body>
    {% block menu %}
    <!-- Navigation Menu -->
    <div class="ui inverted top secondary pointing menu">
      <div class="ui container">
        <div class="header item"><a href="/">{{ lang.frame.title }}</a></div>
        {% if user and user.admin %}
        <div class="item menu-item"><a href="/competitions">{{ lang.frame.competitions }}</a></div>
        <div class="item menu-item"><a href="/tasks">{{ lang.frame.tasks }}</a></div>
        {% endif %}
        <div class="right menu">
          {% if not user %}
          <div class="item menu-item"><a href="/login">{{ lang.frame.login }}</a></div>
          {% else %}
          <div class="item menu-item text">{{ lang.frame.logged_as }} {{ user.username | safe }}</div>
          <div class="item menu-item"><a href="/logout">{{ lang.frame.logout }}</a></div>
          {% endif %}
        </div>
      </div>
    </div>
    {% endblock menu %}

    <!-- Page content -->
    {% block page %}{% endblock page %}

    <!-- Bottom menu -->
    <div class="ui inverted bottom secondary pointing menu">
      <div class="ui container">
        <div class="right menu">
          <div class="item menu-item">
            <a href="https://github.com/imeplusplus/tinyctf-platform">
              {{ lang.frame.view_on }} GitHub
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="ui dimmer task-loading">
      <div class="ui large text loader">{{ lang.general.loading }}</div>
    </div>
  </body>
</html>
