<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ lang.frame.title }}</title>
    <!--<meta name="viewport" content="width=device-width" />-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/semantic.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/semantic.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tablesort.js') }}"></script>
    <script src="{{ url_for('static', filename='js/general.js') }}"></script>
    <script>
      var static = "{{ url_for('static', filename='files/') }}";
      var categories = {};
      {% for c in categories %} categories[{{ c.id }}] = "{{ c.name }}"; {% endfor %}
      function resetForm(form) {
        form.find('input:text').val('')
        form.find('.category-text').text('{{ lang.tasks.category_placeholder }}')
        form.find('.category-text').addClass('default')
      }
    </script>
  </head>
  <body>
    <!-- Navigation Menu -->
    <div class="ui inverted top secondary pointing menu">
      <div class="ui container">
        <div class="header item"><a href="/">{{ lang.frame.title }}</a></div>
        {% if user and user.isAdmin %}
        <div class="item menu-item"><a href="/competitions">{{ lang.frame.competitions }}</a></div>
        <div class="item menu-item"><a href="/tasks">{{ lang.frame.tasks }}</a></div>
        {% endif %}
        <div class="right menu">
          {% if not user %}
          <div class="item menu-item"><a href="/login">{{ lang.frame.login }}</a></div>
          {% else %}
          <div class="item menu-item text">{{ lang.frame.logged_as }} {{ user.username | safe }}</div>
          <div class="item menu-item"><a href="/logout">{{ lang.frame.logout }}</a></div>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- Page content -->
    {% include page %}

    <!-- Bottom menu -->
    <div class="ui inverted bottom secondary pointing menu">
      <div class="ui container">
        <div class="right menu">
          <div class="item menu-item">
            <a href="https://github.com/imeplusplus/tinyctf-platform">
              {{ lang.frame.view_on }} GitHub
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="ui dimmer task-loading">
      <div class="ui large text loader">{{ lang.general.loading }}</div>
    </div>
  </body>
</html>
