<!-- Page content -->
<div class="ui container main">
  <h2 class="ui left floated inverted header">{{ lang.tasks.title }}</h2>

  <table class="ui single line selectable inverted fixed sortable unstackable table tasks-table">
    <thead>
      <tr>
        <th class="three wide">{{ lang.tasks.name }}</th>
        <th class="three wide">{{ lang.tasks.category }}</th>
        <th class="eight wide">{{ lang.tasks.desc }}</th>
        <th class="two wide center aligned"><i class="settings icon"></i></th>
      </tr>
    </thead>
    <tbody id="task-table-body">
      {% for task in tasks %}
      <tr data-id="{{ task.id }}">
        <td class="three wide">{{ task.name }}</td>
        <td class="three wide">{{ categories[task.category-1].name }}</td>
        <td class="eight wide">{{ task.desc }}</td>
        <td class="two wide center aligned">
          <a href="#" class="task-edit"><i class="large edit icon"></i></a>
          <a href="#" class="task-delete"><i class="large trash icon"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot class="full-width">
      <tr>
        <th colspan="4">
          <div class="ui right floated">
            <button class="ui right floated small primary labeled icon button task-new">
              <i class="plus icon"></i>{{ lang.tasks.add }}
            </button>
        </th>
    </tfoot>
  </table>
</div>

<form id="task-delete-form" class="ui modal task-delete-modal" action="/task/">
  <div class="header">{{ lang.tasks.delete }}</div>

  <div class="content">
    <div class="ui form">
      <div class="field">
        <label>{{ lang.tasks.name }}</label>
        <input type="text" name="task-name" value="Task name" disabled>
      </div>
      <div class="field">
        <label>{{ lang.tasks.category }}</label>
        <div class="ui fluid search selection dropdown disabled task-category-dropdown">
          <input type="hidden" name="task-category">
          <i class="dropdown icon"></i>
          <div class="default text">{{ lang.tasks.category_placeholder }}</div>
          <div class="menu">
            {% for category in categories %}
            <div class="item" data-value="{{ category.id }}">{{ category.name }}</div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="field">
        <label>{{ lang.tasks.desc }}</label>
        <textarea rows="3" disabled>Task description</textarea>
      </div>

      <div class="field">
        <label>{{ lang.tasks.hint }}</label>
        <textarea rows="2" disabled>Task hint</textarea>
      </div>

      <div class="field">
        <label>{{ lang.tasks.file }}</label>
        <input type="text" name="task-file" value="Task file" disabled>
      </div>

      <div class="field">
        <label>{{ lang.tasks.flag }}</label>
        <input type="text" name="task-flag" value="Task flag" disabled>
      </div>
    </div>
  </div>

  <div class="actions">
    <div class="ui black cancel button">{{ lang.tasks.delete_cancel }}</div>
    <button class="ui negative right labeled icon button">
      {{ lang.tasks.delete_accept }}
      <i class="trash icon"></i>
    </button>
  </div>
</form>

<form id="task-edit-form" class="ui modal task-edit-modal" action="/task/">
  <div class="header">{{ lang.tasks.edit }}</div>
  <div class="content">
    <div class="ui form">
      <div class="field">
        <label>{{ lang.tasks.name }}</label>
        <input type="text" name="task-name" placeholder="{{ lang.tasks.name_placeholder }}">
      </div>
      <div class="field">
        <label>{{ lang.tasks.category }}</label>
        <div class="ui fluid search selection dropdown task-category-dropdown">
          <input type="hidden" name="task-category">
          <i class="dropdown icon"></i>
          <div class="default text">{{ lang.tasks.category_placeholder }}</div>
          <div class="menu">
            {% for category in categories %}
            <div class="item" data-value="{{ category.id }}">{{ category.name }}</div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="field">
        <label>{{ lang.tasks.desc }}</label>
        <textarea rows="3" name="task-desc" placeholder="{{ lang.tasks.desc_placeholder }}"></textarea>
      </div>

      <div class="field">
        <label>{{ lang.tasks.hint }}</label>
        <textarea rows="2" name="task-hint" placeholder="{{ lang.tasks.hint_placeholder }}"></textarea>
      </div>

      <div class="field">
        <label>{{ lang.tasks.file }}</label>
        <div class="ui left action input">
          <label class="ui labeled icon button btn-file">
            <i class="attachment upload icon"></i>
            {{ lang.tasks.file_placeholder }}
            <input type="file" name="task-file" style="display: none">
          </label>
          <input type="text" class="_attachmentName" disabled>
        </div>
      </div>

      <div class="field">
        <label>{{ lang.tasks.flag }}</label>
        <input type="text" name="task-flag" placeholder="{{ lang.tasks.flag_placeholder }}">
      </div>

    </div>
  </div>

  <div class="actions">
    <div class="ui black cancel button">{{ lang.tasks.edit_cancel }}</div>
    <button type="submit" class="ui positive right labeled icon ok button">
      {{ lang.tasks.edit_accept }}
      <i class="checkmark icon"></i>
    </button>
  </div>
</form>

<form id="task-new-form" class="ui modal task-new-modal" action="/tasks/add" enctype="multipart/form-data">
  <div class="header">{{ lang.tasks.new }}</div>
  <div class="content">
    <div class="ui form">

      <div class="field">
        <label>{{ lang.tasks.name }}</label>
        <input type="text" name="task-name" placeholder="{{ lang.tasks.name_placeholder }}"required>
      </div>
      <div class="field">
        <label>{{ lang.tasks.category }}</label>
        <div class="ui fluid search selection dropdown task-category-dropdown">
          <input type="hidden" name="task-category" required>
          <i class="dropdown icon"></i>
          <div class="default text category-text">{{ lang.tasks.category_placeholder }}</div>
          <div class="menu">
            {% for category in categories %}
            <div class="item" data-value="{{ category.id }}">{{ category.name }}</div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="field">
        <label>{{ lang.tasks.desc }}</label>
        <textarea rows="3" name="task-desc" placeholder="{{ lang.tasks.desc_placeholder }}"></textarea>
      </div>

      <div class="field">
        <label>{{ lang.tasks.hint }}</label>
        <textarea rows="2" name="task-hint" placeholder="{{ lang.tasks.hint_placeholder }}"></textarea>
      </div>

      <div class="field">
        <label>{{ lang.tasks.file }}</label>
        <div class="ui left action input">
          <label class="ui labeled icon button btn-file">
            <i class="attachment upload icon"></i>
            {{ lang.tasks.file_placeholder }}
            <input type="file" name="task-file" style="display: none">
          </label>
          <input type="text" class="_attachmentName" disabled>
        </div>
      </div>

      <div class="field">
        <label>{{ lang.tasks.flag }}</label>
        <input type="text" name="task-flag" placeholder="{{ lang.tasks.flag_placeholder }}" required>
      </div>

    </div>
  </div>

  <div class="actions">
    <div class="ui black cancel button">{{ lang.tasks.new_cancel }}</div>
    <button type="submit" class="ui positive right labeled icon ok button">
      {{ lang.tasks.new_accept }}
      <i class="checkmark icon"></i>
    </button>
  </div>
</form>

<script>
$(function() {
  // Configure ajax
  $.ajaxSetup({
    method: 'POST',
    cache: false,
    contentType: false,
    processData: false,
  });

  var categories = {};
  {% for c in categories %}
  categories[{{ c.id }}] = "{{ c.name }}";
  {% endfor %}

  var static = "{{ url_for('static', filename='files/') }}";

  function resetForm(form) {
    form.find('input:text').val('')
    form.find('.category-text').text('{{ lang.tasks.category_placeholder }}')
    form.find('.category-text').addClass('default')
  }

  function fetchTaskToForm(task_id, form) {
    $.ajax({
      url: form.attr('action') + task_id,
      success: function(res) {
        $.each(res, function(name, v) {
          var elem = form.find('[name=task-'+name+']');
          if (elem.length > 0 && elem.attr('type') != "file")
            elem.val(v);
        });

        form.find('.task-category-dropdown').dropdown('set selected', res['category']);
      },
      error: function() {
        console.log("error");
      }
    });
  }

  $('.tasks-table').tablesort()
  $('.ui.dropdown').dropdown()

  $('.task-edit').on('click', function() {
    $('.task-loading').addClass('active');
    fetchTaskToForm($(this).closest('tr').data('id'), $('#task-edit-form'));
    $('.task-loading').removeClass('active');

    $('.task-edit-modal').modal('show');
  });

  $('.task-delete').on('click', function() {
    $('.task-loading').addClass('active');
    fetchTaskToForm($(this).closest('tr').data('id'), $('#task-delete-form'));
    $('.task-loading').removeClass('active');

    $('.task-delete-modal').modal('show');
  });

  $('.task-new').on('click', function() {
    resetForm($('.task-new-modal'));
    $('.task-new-modal')
      .modal({ onApprove: function() { return false; } })
      .modal('show');
  });

  $('#task-new-form').submit(function(event) {
    event.preventDefault();
    var data = new FormData($('#task-new-form')[0]);

    $.ajax({
      url: $(this).attr('action'),
      data: data,
      success: function(res) {
        var task = res['task'];

        var newrow =
        '<tr data-id="' + task['id'] + '> \
          <td class="three wide">' + task['name'] + '</td> \
          <td class="three wide">' + categories[task['category']] + '</td> \
          <td class="eight wide">' + task['desc'] + '</td> \
          <td class="two wide center aligned"> \
            <a href="#" class="task-edit"><i class="large edit icon"></i></a> \
            <a href="#" class="task-delete"><i class="large trash icon"></i></a> \
          </td> \
        </tr>';

        $('#task-table-body').append(newrow);
      },
      error: function() {
        console.log("error")
      }
    });

    $('.task-new-modal').modal('hide');

    return false;
  });
});
</script>

<script>

$(function() {
  $(document).on('change', '.btn-file :file', function() {
    var input = $(this);

    if (navigator.appVersion.indexOf("MSIE") != -1) { // IE
      var label = input.val();

      input.trigger('fileselect', [ 1, label, 0 ]);
    } else {
      var label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
      var numFiles = input.get(0).files ? input.get(0).files.length : 1;
      var size = input.get(0).files[0].size;

      input.trigger('fileselect', [ numFiles, label, size ]);
    }
  });

  $('.btn-file :file').on('fileselect', function(event, numFiles, label, size) {
    $(this).attr('name', 'task-file'); // allow upload.
    $(this).parent().next('._attachmentName').val(label);
  });
});

</script>
